@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);

/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

/* ROOT FONT STYLES */

* {
  font-family: 'Yanone', Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
}

/* TYPOGRAPHY */

h1 {
  font-size: 32px;
}

.byline {
  font-size: 12px;
}

.header {
  padding: 64px 8px 64px 8px;
  text-align: center;
}

.container {
 margin: 0 32px 0 32px;
}

.cardTitle {
  display: block;
  font-size: 16px;
  font-weight: 200;
  padding: 4px 0 16px 0;
}

.footer {
  text-align: center;
  margin: 188px 0 0 0;
  padding-bottom: 188px; /* for safari */
}

/* LINKS */

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  text-decoration: none;
  color: #6CD9AA;
  text-decoration-style: solid;
}

a:hover {
  color: #1d6a49;
}

img {
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  width: 100%;
}

img:hover {
  opacity: 0.5;
}
